<h2>Results - Artist Seach</h2>

<ul>
    {{#each items}}

    <li>
        {{#if this.images}}
            <img src="{{this.images.0.url}}" alt="{{this.name}}">
        {{else}}
            <p>No Image Found</p>
        {{/if}}
        <div class="input-bg">
            <h3>{{this.name}}</h3>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
        
    </li>
    {{/each}}

</ul>